<nav class="main-menu">
    <ul>
        <li class="has-subnav nav-nombre-salir">
            <div class="d-flex align-items-center ps-1 pt-2 pb-2">
                <div class="flex-shrink-0">
                    <img src="/assets/student2.png" alt="jesus" class="img-fluid img-thumbnail rounded-circle logoEst">
                </div>
                <div class="flex-grow-1 ms-3 nombre">
                    <span>
                        Hola Shande 
                    </span>
                </div>
            </div>
        </li>
        <li class="mt-2">
            <a routerLink="/perfil" routerLinkActive="active">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-home fa-2xl"></i>
                    <span class="nav-text ps-2">
                        Dashboard
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a routerLink="/login" routerLinkActive="active">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-laptop fa-2x"></i>
                    <span class="nav-text ps-2">
                        Perfil
                    </span>
                </div>
            </a>
            
        </li>
        <li>
            <a href="#">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-list fa-2x"></i>
                    <span class="nav-text ps-2">
                        Cursos
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-folder-open fa-2x"></i>
                    <span class="nav-text ps-2">
                        Cursos
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text ps-2">
                        Estadisticas
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-font fa-2x"></i>
                    <span class="nav-text ps-2">
                        Quotes
                    </span>
                </div>
            </a>
        </li>
        <li>
           <a href="#">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-table fa-2x"></i>
                    <span class="nav-text ps-2">
                        Tables
                    </span>
                </div>
            </a>
        </li>
        <li>
           <a href="#">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-map-marker fa-2x"></i>
                    <span class="nav-text ps-2">
                        Maps
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-info fa-2x"></i>
                    <span class="nav-text ps-2">
                            Documentation
                    </span>
                </div>
            </a>
        </li>
    </ul>
  
    <ul class="logout nav-nombre-salir">
        <li>
           <a routerLink="/login">
                <div class="pt-2 pb-2">
                    <i class="fa-solid fa-power-off fa-2x"></i>
                    <span class="nav-text ps-2">
                        Salir
                    </span>
                </div>
            </a>
        </li>  
    </ul>
</nav>

