<app-side-bar></app-side-bar>
<div class="login mt-5" >
    <div class="login-screen">
        <div>
            <h2>TITULO AQUI P</h2>
        </div>
        <div class="login-imagen">
            <img src="/assets/students.png" alt="Logo imagen" width="250px">
        </div>
        <br>
        <div class="login-form">
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="Usuario" id="login-name">
            </div>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="Contraseña" id="login-pass">
            </div>

            <a class="btn btn-primary btn-large btn-block" routerLink="/perfil" routerLinkActive="active">Ingresar</a>
            <a class="login-link mt-2" href="#">Olvidaste la contraseña?</a>
        </div>
    </div>
</div>
